/* font-family: "PlayfairDisplayRegular"; */
@font-face {
    font-family: "PlayfairDisplayRegular";
    src: url("../fonts/PlayfairDisplayRegular/PlayfairDisplayRegular.eot");
    src: url("../fonts/PlayfairDisplayRegular/PlayfairDisplayRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/PlayfairDisplayRegular/PlayfairDisplayRegular.woff") format("woff"),
    url("../fonts/PlayfairDisplayRegular/PlayfairDisplayRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "PlayfairDisplayItalic"; */
@font-face {
    font-family: "PlayfairDisplayItalic";
    src: url("../fonts/PlayfairDisplayItalic/PlayfairDisplayItalic.eot");
    src: url("../fonts/PlayfairDisplayItalic/PlayfairDisplayItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/PlayfairDisplayItalic/PlayfairDisplayItalic.woff") format("woff"),
    url("../fonts/PlayfairDisplayItalic/PlayfairDisplayItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "UbuntuLight"; */
@font-face {
    font-family: "UbuntuLight";
    src: url("../fonts/UbuntuLight/UbuntuLight.eot");
    src: url("../fonts/UbuntuLight/UbuntuLight.eot?#iefix")format("embedded-opentype"),
    url("../fonts/UbuntuLight/UbuntuLight.woff") format("woff"),
    url("../fonts/UbuntuLight/UbuntuLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
  }
